# Виртуальные окружения
venv/
env/
.venv/
.env/

# Скомпилированные Python файлы
__pycache__/
*.py[cod]
*.pyc
# Прочие временные файлы
*.swp
*.bak
*.tmp
*.log

# Прочие системные файлы
.DS_Store
Thumbs.db
